<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- 
		一个sessionFactory代表数据库的一个连接
	-->
<session-factory>
	<!-- 链接数据库的用户名 -->
	<property name="connection.username">root</property>
	<!-- 链接数据库的密码 -->
	<property name="connection.password">wang</property>
	<!-- 链接数据库的驱动 -->
	<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<!-- 链接数据库的url -->
	<property name="connection.url">
		jdbc:mysql://localhost:3306/newoa
	</property>

	<property name="dialect">
		org.hibernate.dialect.MySQL5InnoDBDialect
	</property>

	<property name="hbm2ddl.auto">update</property>
	<property name="show_sql">true</property>
	<mapping resource="com/wx/oa/domain/sysmanage/Department.hbm.xml" />
	<mapping resource="com/wx/oa/domain/sysmanage/Privilege.hbm.xml" />
	<mapping resource="com/wx/oa/domain/sysmanage/Role.hbm.xml" />
	<mapping resource="com/wx/oa/domain/sysmanage/User.hbm.xml" />
	<mapping resource="com/wx/oa/domain/forummanage/Forum.hbm.xml" />
	<mapping resource="com/wx/oa/domain/forummanage/Reply.hbm.xml" />
	<mapping resource="com/wx/oa/domain/forummanage/Topic.hbm.xml" />
	<mapping resource="jbpm.repository.hbm.xml" />
	<mapping resource="jbpm.execution.hbm.xml" />
	<mapping resource="jbpm.history.hbm.xml" />
	<mapping resource="jbpm.task.hbm.xml" />
	<mapping resource="jbpm.identity.hbm.xml" />
	<mapping resource="com/wx/oa/domain/workflow/Approve.hbm.xml" />
	<mapping resource="com/wx/oa/domain/workflow/Form.hbm.xml" />
	<mapping resource="com/wx/oa/domain/workflow/FormTemplate.hbm.xml" />
</session-factory>
</hibernate-configuration>